@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@1,300&family=Reenie+Beanie&display=swap');

.padrão {
    text-align: center;
    background-image: url(imagem/fundo-riscado-abstrato-com-um-efeito-do-grunge\ 1.png);
    width: 1889px;
    height: 1119px;
    color: #FFF;
    font-family: K2D;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
   
.cupons-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.grupo {
  display: flex;
  flex-direction: column;
  margin-right: 20px; /* Espaçamento entre os grupos */
}

.cupom {
  position: relative;
  overflow: hidden;
  width: 400px;
  text-align: center; /* Alinhar o texto do botão ao centro */
}

.cupom img {
  width: 100%;
  height: auto;
  display: block; /* Tornar a imagem um elemento de bloco */
  transition: transform 0.3s ease;
}

.cupom button {
  margin-top: 5px; /* Adicionar margem entre a imagem e o botão */
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: solid;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block; /* Tornar o botão um elemento de bloco */
  width: 100%; /* O botão ocupará toda a largura do cupom */
  box-sizing: border-box; /* O tamanho do botão incluirá o padding */

}
